.features__wrapper-blok {
    @include limit(55px, 116px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 767px) {
        & {
            @include limit(0, 35px);
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        & {
            @include limit(42px, 80px);
        }
    }

    >.blok-content {
        width: 32%;
        display: flex;
        flex-direction: column;
        @include limit(61px, 18px);

        @media (max-width: 767px) {
            & {
                width: 100%;
                @include limit(40px, 0);
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            & {
                @include limit(38px, 0);
            }
        }

        >img {
            @include size-img (100px, 100px);
            align-self: center;

            @media (max-width: 767px) {
                & {
                    @include size-img(82px, 82px);
                }
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                & {
                    @include size-img(90px, 90px);
                }
            }
        }

        h3 {
            font-family: Raleway;
            color: #2D3033;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
            @include size-p(24px, 28px);
            @include limit(52px, 42px);

            @media (max-width: 767px) {
                & {
                    @include size-p(18px, 21px);
                    @include limit(36px, 16px);
                }
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                & {
                    @include size-p(18px, 21px);
                    @include limit(44px, 24px);
                }
            }
        }

        p {
            @include size-p(18px, 21px);

            @media (max-width: 767px) {
                & {
                    @include size-p(14px, 16px);
                }
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                & {
                    @include size-p(14px, 16px);
                }
            }
        }
    }
}